expense-dateline/src/main/xsd/xsd-buffer.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:lp="http://logparser.prof.jee.ujasiri.net/schema"
   targetNamespace="http://logparser.prof.jee.ujasiri.net/schema"
   elementFormDefault="unqualified">

   <complexType name="accountParserType">
      <sequence>
         <element name="input" type="lp:inputType" minOccurs="1"
            maxOccurs="1" />
      </sequence>
   </complexType>
   <!-- Input section -->
   <complexType name="inputType">
      <attribute name="owner" type="string" use="required" />
      <sequence>
         <element name="url" type="string" minOccurs="1" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <!-- 
   <complexType name="filesType">
      <sequence>
         <element name="input" type="lp:directoryType" minOccurs="0"
            maxOccurs="unbounded" />
         <element name="input" type="lp:fileType" minOccurs="0"
            maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="baseType">
      <attribute name="origin" use="required">
         <restriction base="string">
            <enumeration value="LånOgSparBank" />
            <enumeration value="Nykredit" />
         </restriction>
      </attribute>
   </complexType>
   <complexType name="fileType">
      <simpleContent>
         <extension base="lp:baseType" />
      </simpleContent>

   </complexType>
   <complexType name="directoryType">
      <attribute name="origin" use="required">
         <simpleType>
            <restriction base="string">
               <enumeration value="LånOgSparBank" />
               <enumeration value="Nykredit" />
            </restriction>
         </simpleType>
      </attribute>
   </complexType>
   <complexType name="filterSequenceType">
      <sequence minOccurs="0" maxOccurs="1">
         <element name="date-range" type="lp:dateRangeType" minOccurs="0"
            maxOccurs="1" />
         <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="filter" type="lp:filterType" minOccurs="0"
               maxOccurs="1" />
         </sequence>
      </sequence>
   </complexType>
   <complexType name="filterType">
      <attribute name="type" default="indexOf">
         <simpleType>
            <restriction base="string">
               <enumeration value="regex" />
               <enumeration value="indexOf" />
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="expression" type="string" use="required" />
      <attribute name="inverse" type="boolean" default="false">
         <annotation>
            <documentation>Should the outcome be negated.
            </documentation>
         </annotation>
      </attribute>
   </complexType>




   <complexType name="outputDatabaseType">
      <attribute name="host" type="string" use="required" />
      <attribute name="port" type="int" use="required" />
      <attribute name="username" type="string" use="required" />
      <attribute name="password" type="string" use="required" />
      <attribute name="database" type="string" use="required" />
   </complexType>


   <complexType name="chartType">
      <attribute name="max-catgories" default="5">
         <simpleType>
            <restriction base="int">
               <minExclusive value="1" />
               <maxInclusive value="10" />
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="interval" use="required">
         <simpleType>
            <restriction base="int">
               <minExclusive value="0" />
               <maxInclusive value="60" />
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="type" use="required">
         <simpleType>
            <restriction base="string">
               <enumeration value="averageResponsetimeOnStatus" />
               <enumeration value="averageResponsetimeOnClient" />
               <enumeration value="averageResponsetimeOnHost" />
               <enumeration value="averageResponsetimeOnUrl" />
               <enumeration value="countOnStatus" />
               <enumeration value="countOnClient" />
               <enumeration value="countOnHost" />
               <enumeration value="countOnUrl" />
               <enumeration value="averageResponseSizeOnStatus" />
               <enumeration value="averageResponseSizeOnClient" />
               <enumeration value="averageResponseSizeOnHost" />
               <enumeration value="averageResponseSizeOnUrl" />
               <enumeration value="averageRequestSizeOnStatus" />
               <enumeration value="averageRequestSizeOnClient" />
               <enumeration value="averageRequestSizeOnHost" />
               <enumeration value="averageRequestSizeOnUrl" />
               <enumeration value="summedResponsetimeOnStatus" />
               <enumeration value="summedResponsetimeOnClient" />
               <enumeration value="summedResponsetimeOnHost" />
               <enumeration value="summedResponsetimeOnUrl" />
               <enumeration value="summedResponseSizeOnStatus" />
               <enumeration value="summedResponseSizeOnClient" />
               <enumeration value="summedResponseSizeOnHost" />
               <enumeration value="summedResponseSizeOnUrl" />
               <enumeration value="summedRequestSizeOnStatus" />
               <enumeration value="summedRequestSizeOnClient" />
               <enumeration value="summedRequestSizeOnHost" />
               <enumeration value="summedRequestSizeOnUrl" />
            </restriction>
         </simpleType>
      </attribute>
   </complexType>
   <complexType name="chartsType">
      <sequence minOccurs="1" maxOccurs="unbounded">
         <element name="chart" type="lp:chartType" />
      </sequence>
   </complexType>
   <complexType name="dateRangeType">
      <attribute name="startDate" type="dateTime" use="required">
         <annotation>
            <documentation>The dateTime is specified in the following form
               YYYY-MM-DDThh:mm:ss where:

               YYYY indicates the year
               MM indicates the
               month
               DD indicates the day
               T indicates the start of the required time
               section
               hh indicates the hour
               mm indicates the minute
               ss indicates the
               second
               Note: All components are required!

               Ex: 2002-05-30T09:00:00
            </documentation>
         </annotation>
      </attribute>
      <attribute name="endDate" type="dateTime" use="required">
         <annotation>
            <documentation>The dateTime is specified in the following form
               YYYY-MM-DDThh:mm:ss where:

               YYYY indicates the year
               MM indicates the
               month
               DD indicates the day
               T indicates the start of the required time
               section
               hh indicates the hour
               mm indicates the minute
               ss indicates the
               second
               Note: All components are required!

               Ex: 2002-05-30T09:00:00
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   
   <element name="account-parser" type="lp:accountParserType" />
</schema>
